html,
body,
#root {
	touch-action: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
}

.mantine-Combobox-option:hover {
	background-color: var(--mantine-color-dark-8);
}

.mantine-Modal-overlay {
	user-select: none;
}